<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>

    <div class="container-fluid">
      <h1 class="mb-3 text-center text-success">Doughnut Ville</h1>

      <h2>Doughnut Lists</h2>
      <table class="table table-dark table-stripped table-hover">
        <thead class="table-info">
          <tr>
            <th>Doughnut Name</th>
            <th>Doughnut Type</th>
            <th>Doughnut Cost</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <!-- Server will insert doughnut info in the table body -->
        </tbody>
      </table>
    </div>

    <script charset="utf-8" src="./js/global.js"></script>
    <script charset="utf-8" src="./js/index.js"></script>
  </body>
</html>
