<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
      <h1 class="mb-3 text-center text-success">Create Doughnut</h1>

      <div class="d-flex justify-content-center">
        <form class="bg-light p-3 rounded bg-opacity-10">
          <fieldset>
            <label for="doughnut-name"
              >Doughnut Name
              <span class="text-danger">*</span>
              <input
                id="doughnut-name"
                class="form-control"
                name="doughnut-name"
                placeholder="i.e., Plain and Simple"
                type="text"
                required
              />
            </label>

            <label for="doughnut-type"
              >Doughnut Type <span class="text-danger">*</span>
              <input
                id="doughnut-type"
                name="doughnut-type"
                class="form-control"
                type="text"
                placeholder="i.e., Regular"
                required
              />
            </label>

            <label for="doughnut-cost"
              >Doughnut Cost <span class="text-danger">*</span>
              <input
                id="doughnut-cost"
                name="doughnut-cost"
                class="form-control"
                min="0.1"
                step="0.1"
                placeholder="i.e., 1.00"
                type="number"
                required
              />
            </label>
          </fieldset>

          <div class="btn-group col-12" role="group" aria-label="">
            <button class="btn btn-lg btn-success" type="submit">Save</button>
            <button
              id="btn-cancel"
              class="btn btn-lg btn-warning"
              type="button"
            >
              Cancel
            </button>
          </div>
          <div id="error-msg" class="alert alert-danger" role="alert"></div>
        </form>
      </div>
    </div>

    <script charset="utf-8" src="/js/global.js"></script>
    <script charset="utf-8" src="/js/new.js"></script>
  </body>
</html>
