<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>

    <div class="container-fluid">
      <h1 class="mb-3 text-center text-success">New Rating</h1>

      <div class="d-flex justify-content-center">
        <form class="bg-light p-3 rounded bg-opacity-10">
          <fieldset>
            <label for="locations">
              Select Location <span class="text-danger">*</span>
              <select
                class="form-select"
                name="locations"
                id="locations"
                required
              >
                <!-- For the required attribute to work with the <select>, we have to 
                specify the value="" attribute and leave it empty -->
                <option value="" selected>Select Location</option>
                <option value="Starbuzz Coffee">Starbuzz Coffee</option>
                <option value="Duncan's Donuts">Duncan's Donuts</option>
                <option value="Krispy King">Krispy King</option>
              </select>
            </label>
          </fieldset>
          <fieldset>
            <label for="doughnut-type"
              >Doughnut Type <span class="text-danger">*</span>
              <input
                id="doughnut-type"
                name="doughnut-type"
                class="form-control"
                type="text"
                placeholder="i.e., Regular"
                required
              />
            </label>

            <label for="doughnut-cost"
              >Rating <span class="text-danger">*</span>
              <input
                id="rating"
                name="rating"
                class="form-control"
                min="0"
                step="1"
                placeholder="i.e., 10"
                type="number"
                required
              />
            </label>
          </fieldset>

          <fieldset>
            <label for="comments">
              <textarea
                class="form-control"
                name="comments"
                id="comments"
                cols="30"
                rows="5"
                placeholder="Leave a comment"
              ></textarea>
            </label>
          </fieldset>

          <div class="btn-group col-12" role="group" aria-label="">
            <button class="btn btn-lg btn-success" type="submit">Save</button>
            <button
              id="btn-cancel"
              class="btn btn-lg btn-warning"
              type="button"
            >
              Cancel
            </button>
          </div>
          <div id="error-msg" class="alert alert-danger" role="alert"></div>
        </form>
      </div>
    </div>

    <script charset="utf-8" src="/js/global.js"></script>
    <script charset="utf-8" src="/js/newrating.js"></script>
  </body>
</html>
